<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,84}</string>
                <key>spriteSourceSize</key>
                <string>{103,84}</string>
                <key>textureRect</key>
                <string>{{796,714},{103,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_bg_awning_bank.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,166}</string>
                <key>spriteSourceSize</key>
                <string>{512,166}</string>
                <key>textureRect</key>
                <string>{{1,1},{512,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_bg_bottom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,10}</string>
                <key>spriteSourceSize</key>
                <string>{512,10}</string>
                <key>textureRect</key>
                <string>{{1,293},{512,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_bg_counter_bank.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,122}</string>
                <key>spriteSourceSize</key>
                <string>{512,122}</string>
                <key>textureRect</key>
                <string>{{1,169},{512,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_bg_piggybank_bank.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{246,235}</string>
                <key>spriteSourceSize</key>
                <string>{256,235}</string>
                <key>textureRect</key>
                <string>{{245,547},{246,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_ui_bank_bundle_large.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-8}</string>
                <key>spriteSize</key>
                <string>{242,240}</string>
                <key>spriteSourceSize</key>
                <string>{252,256}</string>
                <key>textureRect</key>
                <string>{{1,547},{242,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_ui_bank_bundle_medium.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-8}</string>
                <key>spriteSize</key>
                <string>{244,240}</string>
                <key>spriteSourceSize</key>
                <string>{252,256}</string>
                <key>textureRect</key>
                <string>{{1,305},{244,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_ui_bank_bundle_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-8}</string>
                <key>spriteSize</key>
                <string>{242,240}</string>
                <key>spriteSourceSize</key>
                <string>{252,256}</string>
                <key>textureRect</key>
                <string>{{247,305},{242,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_ui_bank_product_gems_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{142,120}</string>
                <key>spriteSourceSize</key>
                <string>{148,142}</string>
                <key>textureRect</key>
                <string>{{832,1},{142,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img_ui_bank_product_gems_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{196,145}</string>
                <key>spriteSourceSize</key>
                <string>{208,167}</string>
                <key>textureRect</key>
                <string>{{493,674},{196,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_ui_bank_product_gems_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-7}</string>
                <key>spriteSize</key>
                <string>{209,164}</string>
                <key>spriteSourceSize</key>
                <string>{219,200}</string>
                <key>textureRect</key>
                <string>{{756,270},{209,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img_ui_bank_product_gems_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{239,197}</string>
                <key>spriteSourceSize</key>
                <string>{253,215}</string>
                <key>textureRect</key>
                <string>{{515,270},{239,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_ui_bank_product_gems_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{231,200}</string>
                <key>spriteSourceSize</key>
                <string>{231,214}</string>
                <key>textureRect</key>
                <string>{{734,481},{231,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img_ui_bank_product_gems_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{239,203}</string>
                <key>spriteSourceSize</key>
                <string>{245,239}</string>
                <key>textureRect</key>
                <string>{{493,469},{239,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_ui_bank_quit_button_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,105}</string>
                <key>spriteSourceSize</key>
                <string>{103,105}</string>
                <key>textureRect</key>
                <string>{{691,714},{103,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_ui_coincollector_progress_bar_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{315,267}</string>
                <key>spriteSourceSize</key>
                <string>{315,267}</string>
                <key>textureRect</key>
                <string>{{515,1},{315,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>market.png</string>
            <key>size</key>
            <string>{953,820}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:32b11e32aa4a99b3eda34fa6d3bd345f:369d8bcb37245985e9100021fe263cd8:8118d1301ee210538895b0fc4e4d2775$</string>
            <key>textureFileName</key>
            <string>market.png</string>
        </dict>
    </dict>
</plist>
