<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Amelia-Happy-side.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,199}</string>
                <key>spriteSourceSize</key>
                <string>{149,199}</string>
                <key>textureRect</key>
                <string>{{606,530},{149,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Amelia-confused-side.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,199}</string>
                <key>spriteSourceSize</key>
                <string>{147,199}</string>
                <key>textureRect</key>
                <string>{{405,385},{147,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Amelia-idea-side.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,199}</string>
                <key>spriteSourceSize</key>
                <string>{146,199}</string>
                <key>textureRect</key>
                <string>{{405,534},{146,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Amelia_Chat_Rig_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,18}</string>
                <key>spriteSourceSize</key>
                <string>{30,18}</string>
                <key>textureRect</key>
                <string>{{40,841},{30,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dad_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{114,806},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dev_Core_Rig_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,30}</string>
                <key>spriteSourceSize</key>
                <string>{29,30}</string>
                <key>textureRect</key>
                <string>{{594,825},{29,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dog-angry.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,199}</string>
                <key>spriteSourceSize</key>
                <string>{197,199}</string>
                <key>textureRect</key>
                <string>{{405,1},{197,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Edwina_Cash_Dash_Rig_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,19}</string>
                <key>spriteSourceSize</key>
                <string>{30,19}</string>
                <key>textureRect</key>
                <string>{{79,836},{30,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Edwina_Polaroid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{186,199}</string>
                <key>spriteSourceSize</key>
                <string>{188,199}</string>
                <key>textureRect</key>
                <string>{{604,1},{186,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Eve_Meta_Rig_50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,20}</string>
                <key>spriteSourceSize</key>
                <string>{30,20}</string>
                <key>textureRect</key>
                <string>{{784,825},{30,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Eve_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,199}</string>
                <key>spriteSourceSize</key>
                <string>{155,199}</string>
                <key>textureRect</key>
                <string>{{606,373},{155,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Joe_Rig_77.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,28}</string>
                <key>spriteSourceSize</key>
                <string>{33,28}</string>
                <key>textureRect</key>
                <string>{{79,806},{33,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Joe_polaroid-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,199}</string>
                <key>spriteSourceSize</key>
                <string>{139,199}</string>
                <key>textureRect</key>
                <string>{{202,573},{139,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Joe_polaroid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,199}</string>
                <key>spriteSourceSize</key>
                <string>{139,199}</string>
                <key>textureRect</key>
                <string>{{202,573},{139,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kate-happy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{149,197}</string>
                <key>spriteSourceSize</key>
                <string>{155,199}</string>
                <key>textureRect</key>
                <string>{{195,714},{149,197}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Raj_Rig_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,42}</string>
                <key>spriteSourceSize</key>
                <string>{37,42}</string>
                <key>textureRect</key>
                <string>{{1,806},{37,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Raj_polaroid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,199}</string>
                <key>spriteSourceSize</key>
                <string>{144,199}</string>
                <key>textureRect</key>
                <string>{{606,681},{142,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Reader_Core_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,28}</string>
                <key>spriteSourceSize</key>
                <string>{30,28}</string>
                <key>textureRect</key>
                <string>{{625,825},{30,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rockabilly_Core_57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,33}</string>
                <key>spriteSourceSize</key>
                <string>{37,33}</string>
                <key>textureRect</key>
                <string>{{40,806},{37,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sven_Chat_Rig_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,23}</string>
                <key>spriteSourceSize</key>
                <string>{30,23}</string>
                <key>textureRect</key>
                <string>{{688,825},{30,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Yuka_polaroid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,199}</string>
                <key>spriteSourceSize</key>
                <string>{199,199}</string>
                <key>textureRect</key>
                <string>{{1,405},{199,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>beatnik_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,28}</string>
                <key>spriteSourceSize</key>
                <string>{29,28}</string>
                <key>textureRect</key>
                <string>{{657,825},{29,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bodybuilder_46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,21}</string>
                <key>spriteSourceSize</key>
                <string>{30,21}</string>
                <key>textureRect</key>
                <string>{{720,825},{30,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>granny_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{146,806},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_ui_portrait_avidreader.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,197}</string>
                <key>spriteSourceSize</key>
                <string>{200,197}</string>
                <key>textureRect</key>
                <string>{{203,202},{200,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_ui_portrait_beatnik.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,199}</string>
                <key>spriteSourceSize</key>
                <string>{169,199}</string>
                <key>textureRect</key>
                <string>{{606,202},{169,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img_ui_portrait_bodybuilder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,1},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_ui_portrait_dad.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,198}</string>
                <key>spriteSourceSize</key>
                <string>{192,198}</string>
                <key>textureRect</key>
                <string>{{1,606},{192,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_ui_portrait_dev.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,0}</string>
                <key>spriteSize</key>
                <string>{170,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{203,401},{170,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img_ui_portrait_granny.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,199}</string>
                <key>spriteSourceSize</key>
                <string>{200,199}</string>
                <key>textureRect</key>
                <string>{{203,1},{200,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_ui_portrait_rockabilly.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,203},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_ui_portrait_teen_jessica.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-5}</string>
                <key>spriteSize</key>
                <string>{175,189}</string>
                <key>spriteSourceSize</key>
                <string>{195,199}</string>
                <key>textureRect</key>
                <string>{{403,682},{175,189}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sven_polaroid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,199}</string>
                <key>spriteSourceSize</key>
                <string>{181,199}</string>
                <key>textureRect</key>
                <string>{{405,202},{181,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>teen_jessica_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,21}</string>
                <key>spriteSourceSize</key>
                <string>{30,21}</string>
                <key>textureRect</key>
                <string>{{752,825},{30,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuka_meta_rig_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,20}</string>
                <key>spriteSourceSize</key>
                <string>{30,20}</string>
                <key>textureRect</key>
                <string>{{111,838},{30,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>person.png</string>
            <key>size</key>
            <string>{806,864}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a03256cb008e9f03c4f89382587911e:e475453ffc0eb85ea257d5b2869cdd98:418b30e830f1f14eb10eb82feb69de4d$</string>
            <key>textureFileName</key>
            <string>person.png</string>
        </dict>
    </dict>
</plist>
